body{ /* lo sfondo della pagina è qui */ 
    
}

#sfondo{  
    background-image: linear-gradient(to right bottom, #bbd2c5, #a3beb6, #8daba8, #79979a, #67838b, #5a7581, #4f6876, #455a6b, #3c4f63, #34445b, #2e3952, #292e49);    
    position:absolute;
    width: 2000px;
    height: 821px;
}

#container{ /* container principale || contenitore di tutto l'html */
    position: absolute; 
    animation-duration: 1700ms;
    transform: scale(0.35);
    background-image: linear-gradient(to right top, #d7d3ff, #cfd5ff, #c6d6ff, #bfd8ff, #b7d9ff, #b7d9ff, #b7d9ff, #b7d9ff, #bfd8ff, #c6d6ff, #cfd5ff, #d7d3ff);
}

#traslazione{
    position:absolute;
    transform: translate(215px,40px);
    background-image: linear-gradient(to right top, #d7d3ff, #cfd5ff, #c6d6ff, #bfd8ff, #b7d9ff, #b7d9ff, #b7d9ff, #b7d9ff, #bfd8ff, #c6d6ff, #cfd5ff, #d7d3ff);
}

#schermo{ /* sfondo del display della nostra tastiera */
    position:absolute;
    top: 156px;
    left: 81.4px;
    width: 2712px;
    height: 881px;
    background-image: linear-gradient(to left top, #000000, #111111, #1c1c1b, #272625, #313130);
    border-radius: 5px;
}

.white{
    clip: rect(0px, 94px, 457px, 0px);
}

.whitepressed{
    clip: rect(460px, 94px, 958px, 0px); /* aggiungere traslazione di 262 px; */
    transform: translate(-1px,-478px);
}

.black{
    clip: rect(0px, 50px, 262px, 0px);
}

.blackpressed{
    clip: rect(262px, 50px, 522px, 0px); /* aggiungere traslazione di 262 px; */
    transform: translate(0,-262px);
}

#tasto1{
    position:absolute; 
    left: 136px; 
    top:1325px;
    cursor: pointer;
}

#tasto2{
    position:absolute; 
    left: 136px; 
    top:1510px;
    cursor: pointer;
}

#tasto1premuto{
    position:absolute; 
    left: 136px; 
    top:1325px;
    cursor: pointer;
}

#tasto2premuto{
    position:absolute; 
    left: 136px; 
    top:1510px;
    cursor: pointer;
}

.schermo2{
    position:absolute;
    top: 156px;
    left: 81.4px;
    width: 2712px;
    height: 881px;
    background-image: linear-gradient(to left top, #000000, #111111, #1c1c1b, #272625, #313130);
    border-radius: 5px;
}

p{
	 text-align: center;
	 color: #9EB3BE;
	 font-size: 68px;
	 line-height: 90px;
	 font-family: Helvetica, Arial, sans-serif;
	 font-weight: bold;
}

h1{
    cursor: pointer;
    text-align: right;
    color: #9EB3BE;
    font-size: 40px;
    line-height: 90px;
    font-family: serif;
    font-weight: bold;
    padding-right: 40px;
    text-shadow: 4px 4px 10px gray;
    letter-spacing: 2px;
}

h5{
    position: absolute;
    left: 95px;
	 text-align: left;
	 color: #9EB3BE;
	 font-size: 50px;
	 line-height: 80px;
	 font-family: Helvetica, Arial, sans-serif;
	 font-weight: bold;
}

h6{
    position: absolute;
    left: 95px;
	 text-align: left;
	 color: #9EB3BE;
	 font-size: 50px;
	 line-height: 60px;
	 font-family: Helvetica, Arial, sans-serif;
	 font-weight: bold;
}

#sample{
    position: absolute;
    clip: rect(0px,500px,300px,8px);
    transform: scale(2.9);
    border-color: 1px solid beige;
}

#painting{
    position: absolute;
    left:455px;
    top: 290px;
    border-color: 10px solid black;
}

.TRIADE{
    width:170px;
    height:50px;
    border-radius:4px;
    background-image: linear-gradient(to top, #537eaf, #5b85b5, #638cba, #6b93c0, #739ac6, #7aa0ca, #81a5ce, #88abd2, #8fb0d5, #96b6d9, #9ebbdc, #a5c1e0);
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: 1px solid black; 
    font-family: 'Nunito', sans-serif;
    margin-right: 34px;
    box-shadow: 1px 1px;
}

#triadi{
    position: absolute;
    display: inline-flex;
    transform: scale(2);
    top: 1121px;
    left: 547px;
}